.seat-container {
    border: 1px solid bisque;
    height: 40px;
    width: 40px;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

}

.arm-rest {
    width: 30%;
    height: 20px;
    display: inline-block;
    border: 1px solid bisque;
    background-color: #fff;
    border-radius: 5px;
}

.backrest{
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid bisque;
    height: 3px;
    background-color: bisque;
    border-radius: 2px;
}

.right {
    position: absolute;
    top: 13px;
    right: -5px;
}

.left {
    position: absolute;
    top: 13px;
    left: -5px;
}

